.area {
  width: 400px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}
 
.tab_class {
  width: calc(100%/4);
  height: 50px;
  background-color: rgb(238, 98, 231);
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}
 
input[name="tab_name"] {
  display: none;
}
 
input:checked + .tab_class {
  background: linear-gradient(transparent 90%, rgb(114, 236, 103) 90%);
  font-weight:  bold;
  background-color: rgb(241, 239, 103);
}
 
.content_class {
  display: none;
  width: 100%;
}
 
input:checked + .tab_class + .content_class {
  display: block;
} 