html {
    user-select: none;
    height:60px;
    display: grid;
    place-items: center;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
  }
.youtube {
    font-size: 25px;
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    border: double 5px #F85858;
}
.youtube  {
    margin: 0; 
    padding: 0;
}
html {
    background-color: #26e0e6;  /* 両端部分に付ける背景色(黄緑色) */
    background-image: url("image.jpg");/* 両端部分に付ける背景画像 */
 }
 body {
    margin: 0px 0%;  /* 外側の余白を、上下はゼロで左右は画面横幅の15％に */
    padding: 60px;     /* 内側の余白を消す */
    background-color: white;  /* 本文部分の背景色は白色 */
 }
 @media print {
    * {
        display: none;
        opacity: 0;
        background: #fff;
    }

    img {
        display: none;
        opacity: 0;
        background: #fff;
    }
}
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}